.App {
  text-align: center;
  width: 100vw;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



body {
  margin: 0;
  overflow-x: hidden;
  width: 100%;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#nav-list {
  text-align: right;
}

#cards:hover {
  cursor: pointer;
}

#navbar-header {
  width: 100%;
  
}



#home-card, #password-sent-card, #reset-success-card {
  padding-top: 100px;  
  display: grid;  
  grid-gap: 5px;  
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-template-rows: repeat(2, 100px);  
  justify-content: center;
}


#home-card-text {
  line-height: 1.7;
}

#signup-card, #forgot-password-page, #reset-password-page, #login-page, #reset-success-card, #password-sent-card {
  padding-top: 55px;
  width: -webkit-fill-available;   
  display: grid;  
  grid-gap: 5px;
  justify-content: center;  
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-template-rows: repeat(2, 100px);  
}


#signup-container, #login-container, #forgot-password-container, #reset-password-container, #reset-success-card {
  width: -webkit-fill-available;
}


#stream-container, #stash-container, #source-container, #user-profile {
  width: -webkit-fill-available;
  padding-top: 100px;
    display: grid;
    padding-left: 15px;
    padding-right: 15px;  
}

#user-sources-card {
  min-height: 200px;
  
  max-height: 500px;
  
  overflow-y: scroll;
  
  overflow-x: hidden;
  
  }
  
  #available-sources-card, #user-sources-card {
  min-height: 200px;
  
  max-height: 500px;
  
  overflow-y: scroll;
  
  overflow-x: hidden;
  
  }

#forgot-div {
  padding-bottom: 15px;
}

#forgot-link {
  padding: 15px;
  color: black;
  font-weight: bold;
  text-decoration: none;
}

#login-link {
  color: #9c27b0;
  font-weight: bold;
  text-decoration: none;
}

#stream-modal-p {
  font-weight: bold;
}

#modal-slide-description {
  padding-top: 12px;
}

#stash-text {
  padding-top: 0px;
  text-align: center;
}

#navbar-header {
  font-weight: bold;
}


.MuiButton-label {
  font-weight: bold;
}

#fab-button {
  margin: 0px !important;
  top: auto !important;
  right: 127.133px !important;
  bottom: 20px !important;
  position: fixed !important;
  color: white !important;
  background-color: #9c27b0 !important;
  font-weight: bold !important;
};

#fab-button-disabled {
margin: 0px !important;
top: auto !important;
right: 127.133px !important;
bottom: 20px !important;
position: fixed !important;
color: white !important;
background-color: #7b808a !important;
font-weight: bold !important;
};
